################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AD_Query/bin
/AD_Query/obj
/AD_Query/.vs/AD_Query/v15
/AutoUITesting/.vs/MCIQ-UITesting
/FileLoad/.vs
/WebApp/.vs
/WebApp/DomainModel/bin/Debug
/WebApp/DomainModel/obj/Debug
/WebApp/packages
/WebApp/SportsStore_DB/obj/Debug
/WebApp/Tests/bin/Debug
/WebApp/Tests/obj/Debug
/WebApp/WebUI/bin
/WebApp/WebUI/obj/Debug
/CC.Web/packages
/CC.Web/.vs
/CC.Web/CC.DataAccess/obj/Debug
/CC.Web/CC.Model/obj/Debug
/CC.Web/CC.Web/obj/Debug
/CC.Web/CC.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/CC.Web/CC.Web/bin
