<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://www.mycanceriq.ca" />
    <!--<add key="BaseUrl" value="https://ocratoat.cancercare.on.ca" />-->
    <add key="KidneyQuestionAnswerFile" value="C:\GaryFolder\MySandBox\AutoUITesting\Tests\KidneyQuestionAnswerFile.csv" />
    <add key="KidneyRARBatchReportFileFolder" value="C:\GaryFolder\MySandBox\AutoUITesting\Testslog\" />
    <add key="ScreenshotFolder" value="C:\GaryFolder\MySandBox\AutoUITesting\TestsScreenshot\" />
  </appSettings>
</configuration>