<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://dspdev.cancercare.on.ca" />       
    <add key="ScreenshotFolder" value="C:\Gary\Sand\UI-AutoTesting\DSP\TestsScreenshot\" />
    <add key="UploadFilesFolder" value="C:\Gary\Sand\UI-AutoTesting\DSP\DSPUITests\Files" />
  </appSettings>
</configuration>